<p id="notice"><%= notice %></p>

<h1>Listing Articles</h1>

<table>
  <thead>
    <tr>
      <!-- <th>Title</th>
      <th>Body</th> -->
      <th><em><b>Title</b></em> | Body</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @articles.each do |article| %>
      <tr class="row radius">
        <td class="small-9 columns"><b><%= article.title %></b></td>
        <td class="small-9 columns"><%= article.body %></td>
        <td class="small-1 columns"><%= link_to 'Show', article, class: "button radius" %></td>
        <% if policy(article).update? %>
          <td class="small-1 columns"><%= link_to 'Edit', edit_article_path(article), class: "button radius" %></td>
        <% end %>
        <% if policy(article).destroy? %>
          <td class="small-1 columns"><%= link_to 'Destroy', article, class: "button radius", method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Article', new_article_path %>
