<div class="body">
  <p id="notice"><%= notice %></p>

  <h2>Articles</h1>

  <div class="container">
    <div>
      <% @articles.each do |article| %>
        <div class="row">
          <div class="small-9 columns article-title"><strong><%= article.title %></strong></div>
        </div>
        <div class="row">
          <div class="small-9 columns"><%= article.body %></div>
          <div class="small-1 columns"><%= link_to 'Show', article, class: "button radius" %></div>
          <% if policy(article).update? %>
            <div class="small-1 columns"><%= link_to 'Edit', edit_article_path(article), class: "button radius" %></div>
          <% end %>
          <% if policy(article).destroy? %>
            <div class="small-1 columns"><%= link_to 'Destroy', article, class: "button radius", method: :delete, data: { confirm: 'Are you sure?' } %></div>
          <% end %>
        </div>
        <br>
      <% end %>
    </div>
  </div>
  <br>
  <%= link_to 'New Article', new_article_path, class: 'button' %>
  <br>
  <br>
</div>

