<!--
<style>
  div h4, div p, a{
    font-family: 'Inconsolata';
  }
</style>
 -->
    </div>
      <div class="hero full-width">
        <div class="row">
          <div class="large-12 columns" id="intro-text">
            <p>After climbing a great hill, one only finds that there are many more hills to climb.</p>
            <p>- Nelson Mandela</p>
          </div>
        </div>
      </div>
    <div class="md-12 columns"></div>
      <div class="body">
        <div class="row about">
          <div class="medium-6 large-8 columns">

            <h3>About me:</h3>
            <!-- <p>My overarching passion in life is helping others discover and find abundance through their own passions. I believe the world will be a much better place when people are taught, encouraged, and coached to achieve success within the things we love doing.</p> -->

            <p>I’m passionate about software, people and products that enable us to connect to the things we want in life.  I come from a project management and sales background and I’m most interested in launching peoples’ ideas/passions.  I want to master the process of software development and to work with a great team.</p>

						<p>Also, I organize the Seattle Artificial Intelligence Meetup, and I'm committed to community and understanding the capabilities of technology.</p> 

            <h3>Why work with me?:</h3>
						<p>I love people, I communicate clearly, and I take responsibility for everything in my life. </p>
            <!-- <ul>
              <li><strong>I prefer my hands be dirty.</strong>  I’ll be the developer doing the things most are afraid of, or don’t like doing.  I’m focused on the overall product and I want to see it succeed, so use me wherever, I won’t bat an eye.   Well working robust code gives me a great sense of accomplishment.</li>
              <li><strong>Effective, authentic, and engaging communication is my game.</strong> I love people and public speaking, so let me present, especially the technical presentation.</li>
              <li><strong>Translation from Customer to Code (1XUX).</strong>  A great product communicates ease and value to the Customer’s intuition.  I’ll consult with real users in order to craft a seamless experience they’ll recommend to their friends.
- I’m invigorated to solve problems. Give me all the troubleshooting.</li></li>
            </ul>
							-->
            <h3>My Problem domain:</h3>
						<p>Technology is the culmination of man's intellect, desire and passion to evolve.  Whats next is to further the connective capacity technology affords us.  Building community and connection to the things we love in life is where I'll be endlessly entertained.</p>
          </div>
          <div class="medium-6 large-4 columns">
            <img id='mypic' src="<%= asset_path 'br_profilepic_7_10.png' %>" >
            <div id="speakerbox"></div>
          </div>
        </div>

        <div class="row work">
          <hr>
          <div class="large-12 columns">
            <h4>Work</h4>
            <p>Click on each image to view my work!</p>

            <ul class="clearing-thumbs small-block-grid-1 medium-block-grid-2 large-block-grid-4" data-clearing>
              <li>
                <a href="https://www.thevivacityapp.com"><img data-caption="VivaCity" src="<%= asset_path 'vivacityHome.png' %>"></a>
              </li>
              <li>
                <a href="http://www.finallybetterinternet.com"><img data-caption="Finally Better Internet Screenshot" src="<%= asset_path 'finallybetterinternet.png' %>"></a>
              </li>
              <li>
                <a href="http://duwamish2.aerobatic.io"><img data-caption="standwithduwamish" src="<%= asset_path 'duwamishtas.png' %>"></a>
              </li>
              <li>
                <a href="http://ignitebot.com"><img data-caption="IgniteBot thumbnail" src="<%= asset_path 'ibot2.png' %>"></a>
              </li>
              <li>
                <a href="http://test.casehawk.net">
                <img data-caption="CaseHawk/reports tab" src="<%= asset_path 'casehawk-thumb.jpg' %>"></a>
              </li>
   <!--            <li>
                <a href="http://placehold.it/550x300"><img data-caption="caption 3 here..." src="http://placehold.it/550x300"></a>
              </li>
              <li>
                <a href="http://placehold.it/550x300"><img data-caption="caption 4 here..." src="http://placehold.it/550x300"></a>
              </li> -->
            </ul>
          </div>
        </div>

        <script src="js/foundation/foundation.clearing.js"></script>
      </div>
