<div class="body">
  <h2>My Portfolio</h2>
  <ul>
  <% @projects.each do |project| %>
    <li class="project" id="<%= dom_id(project) %>">
      <br>
      <div class="image_thumb">
        <%= image_tag project.image.url(:thumb) %>
      </div>
      <br>
      <h3><strong><%= project.name %></strong></h3>
      <div class="project-body">
        <p><strong><%= project.technologies_used %></strong></p>
        <br>
        <p><strong><%= project.description %></strong></p>
      </div>
      <div class="nav">
        <div class="crud"><%= link_to 'Show', project %></div> |
        <div class="crud"><%= link_to 'Edit', edit_project_path(project) %></div> |
        <div class="crud"><%= link_to 'Destroy', project, method: :delete, data: { confirm: 'Are you sure?' } %></div>
      </div>
    </li>
    <br>
    <hr>
    <br>
  <% end %>
  </ul>
  <br>
  <%= link_to 'New Project', new_project_path, :class => 'button' %>
  <br>
  <br>
</div>
