<div class="body">
  <h2 class="inlineTitle"><%= @project.name %></h2>
  <div class="image_medium">
    <%= image_tag @project.image.url(:medium) %>
  </div>
  <br>
<!--   <div class="image_thumb">
    <%= image_tag @project.image.url(:thumb) %>
  </div> -->
  <div>
    <p><strong>Technologies used:</strong> <%= @project.technologies_used %></p>
  </div>
  <div>
    <p><strong>Description:</strong> <%= @project.description %></p>
  </div>
</div>
